<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Burger Bite</title>
  <link rel="stylesheet" type="css" href="public/assets/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery.js"></script>;

</head>

<body>
  {{{body}}}
  <script>
    $(() => {
      $("#submitBurger").on("click", event => {
        event.preventDefault();
        const newBurger = {
          name: $("#addBurger").val().trim(),
          devoured: false
        };
        $.ajax("/api/burgers", {
          type: "POST",
          data: newBurger
        }).then(() => {
          location.reload();
        });
      });

      $(".devourButton").on("click", function (event) {
        const id = $(this).data("id");
        const isDevoured = {
          devoured: 1
        };
        $.ajax("/api/burgers/" + id, {
          type: "PUT",
          data: isDevoured
        }).then(() => {

          location.reload();
        });
      });
    })
  </script>
</body>

</html>